@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');



:root{
    --cinza-claro:#66645f;
    --branco:#ffffff;
    --azul-tiffany:#0abab5;
    --preto:#000000;
    --fonte-titulo:"Poppins", sans-serif;
    --font-texto:"Comfortaa", sans-serif;
}

body{
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--font-texto);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}