@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');



:root{
    --cinza-claro:#66645f;
    --branco:#ffffff;
    --azul-tiffany:#0abab5;
    --preto:#000000;
    --cinza-escuro:#3b3b3b ;
    --fonte-titulo:"Poppins", sans-serif;
    --font-texto:"Comfortaa", sans-serif;
}

body{
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--font-texto);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width:100% ;
    font: size 36px;
}

.titulo-principal span{
    color: var(--azul-tiffany);
}

.botao{
    font-family:var(--font-texto);
    font-size: 18px;
    background-color: var(--cinza-claro);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--azul-tiffany);
    border-left: 4px solid var(--azul-tiffany);
    border-right: 4px solid var(--azul-tiffany);
    border-top: none;
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}

.botao.ativo{
    background-color: var(--cinza-escuro);
    border-bottom: 4px solid var(--azul-tiffany);
}

.abas-textos{
    background-color: var(--cinza-claro);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
   
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--branco);
    text-transform: uppercase;
}

.contador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero{
    font-size: 50px;
    margin: 0;
}

.contador-digito-texto{
    color: var(--azul-tiffany);
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
